<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хосты/Группы</title>
    <script type="module" src="js/hosts_groups.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/header_footer.js"></script>
    <style>
        h1 {
            color: #343a40;
            font-weight: bold;
        }

    </style>
</head>
<body>
<div class="container my-4"  style="margin-left: 250px;">
    <h1 class="text-dark fw-bold text-center">Хосты и группы</h1>

    <p class="text-center text-muted">Управляйте хостами и группами для удобной организации сканирования.</p>

    <!-- Список хостов -->
    <section class="my-5">
        <h4>Список хостов</h4>
        <ul class="list-group" id="hostsList"></ul>
    </section>

    <!-- Форма добавления хоста -->
    <section class="mb-5">
        <h4>Добавить хост</h4>
        <form id="addHostForm" class="mb-3">
            <div class="mb-3">
                <label for="hostIP" class="form-label">IP-адрес или имя хоста</label>
                <input type="text" class="form-control" id="hostIP" placeholder="Введите IP или имя хоста" required>
            </div>
            <button type="submit" class="btn btn-primary">Добавить хост</button>
        </form>
    </section>

    <!-- Список групп -->
    <section class="my-5">
        <h4>Список групп</h4>
        <ul class="list-group" id="groupsList"></ul>
    </section>

    <!-- Форма создания группы -->
    <section class="mb-5">
        <h4>Создать группу</h4>
        <form id="createGroupForm" class="mb-3">
            <div class="mb-3">
                <label for="groupName" class="form-label">Название группы</label>
                <input type="text" class="form-control" id="groupName" placeholder="Введите название группы" required>
            </div>
            <button type="submit" class="btn btn-primary">Создать группу</button>
        </form>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
