body {
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#content {
    margin-left: 250px; /* Отступ под sidebar */
    padding: 20px;
}
main {
    flex: 1;
}